@page "/dashboard"
<h3>AdminDashboard</h3>

<div class="container mt-5">
    <div class="row">
        <!-- First Container: Spanning 2 rows and 4 columns -->
        <div class="col-md-4 dashboard-container" style="grid-row: span 2;">Container 1</div>

        <!-- Second Container: Spanning 2 rows and 8 columns -->
        <div class="col-md-8 dashboard-container" style="grid-row: span 2;">Container 2</div>
    </div>

    <div class="row">
        <!-- Third Container: Spanning 3 rows and 4 columns -->
        <div class="col-md-4 dashboard-container" style="grid-row: span 3;">Container 3</div>

        <!-- Fourth Container: Spanning 3 rows and 4 columns -->
        <div class="col-md-4 dashboard-container" style="grid-row: span 3;">Container 4</div>

        <!-- Fifth, Sixth, and Seventh Containers: Stacked, each spanning 1 row and 4 columns -->
        <div class="col-md-4 dashboard-container">Container 5</div>
        <div class="col-md-4 dashboard-container">Container 6</div>
        <div class="col-md-4 dashboard-container">Container 7</div>
    </div>
</div>


