@inject NavigationManager navigationManager
@page "/becomeseller"

<div class="form-container ">
    <div class="card shadow col-6 form-structure">
        <h2 class="form-title">Want to become</h2><h2 class="gold-colored-text form-title">A Seller ?</h2>

    <EditForm Model="logUser" OnValidSubmit="DisplayName">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group p-2">
            <label for="name">UserName:</label>

            <InputText class="form-control p-2" id="name" @bind-Value="logUser.UserName" aria-describedby="name" />
        </div>

        <div class="form-group p-2">
            <label for="name">Password:</label>

            <InputText class="form-control p-2" id="name" @bind-Value="logUser.Password" aria-describedby="name" />
        </div>

            <div class=" button-container">
            <button class="form-button" @onclick="registerArtPiece">Proceed => </button>
            </div>
    </EditForm>

</div>
</div>


@code {
    private LoginRequestDTO logUser = new LoginRequestDTO();
    public void DisplayName()
    {
        Console.WriteLine(logUser.UserName);
        Console.WriteLine(logUser.Password);
    }
    private void registerArtPiece()
    {
        navigationManager.NavigateTo("registerArtPiece");
    }
}