@page "/browse-items";
@inject NavigationManager navigationManager
@inject IArt _artServices


<div class="search-bar">

    <input type="type" name="search" value="" placeholder="Search Items...." />

</div>

@*----------------- browse contents on auction area -------------------*@
<div class="row d-flex flex-row gap-4  ">
    <div class="hot-deals">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15" />
        </svg>

        <i class="bi bi-fire hot-deals-icon"></i>
        <h2 class="gold-colored-text ">HOT</h2><h2>DEALS</h2>
    </div>
    @foreach (var piece in Arts)
    {
        <div class="card shadow col-4 p-4 " style="width: 18rem;">
            <img src="@piece.ProductPicture" class="card-img-top" alt="@piece.ProductPicture" />
            <div class="card-body d-flex flex-column justify-content-center">
                <h2 class="hot-deals-card-title">@piece.ProductName</h2>
                <h7>Highest Bid: @piece.HighestBid</h7>

            </div>
            <div class="card-button-container">
                @* <button  class="btn btn-outline-success" @onclick="() => placebid(piece.Id)">See Details</button> *@
                <button class="btn btn-outline-success" @onclick="() => placebid(piece.PieceId)">See Details</button>
            </div>
        </div>

    }
</div>




@code {
    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }


    private void register()
    {
        navigationManager.NavigateTo("register");
    }

    private void login()
    {
        navigationManager.NavigateTo("login");
    }
    //----REMBER TO PASS A PARAMETER OF ID
    // private void placebid(int id)
    private void placebid(Guid pieceId)
    {
        //------NOTE TO SELF---------
        //----REMEMBER TO SWITCH PAGES DEPENDING ON PRODUCTS ID----
        //----INORDER TO ALWAYS HIT A DIFFERENT PAGE EVERY TIME------
        navigationManager.NavigateTo($"placebid/{pieceId}");
        // navigationManager.NavigateTo($"placebid/{id}");
    }

    public List<ArtDisplay> Arts { get; set; } = new List<ArtDisplay>();

    public async Task LoadDataAsync()
    {
        // Fetch ArtDto instances from the database using the ArtService
        Arts = await _artServices.GetArtsAsync();
    }

    
}

