@page "/"

<PageTitle>Home</PageTitle>
<div class="hero-container">
    <div class="hero-content">

        <h1>We Are Like <br />Pablo Picasso's <br />Collection<br /> But On Steroids.</h1>
       <div class="buttons">

        <button class="hero-buttons">Sign Up</button>
        <button class="hero-buttons">Log In</button>
       </div>
    </div>
</div>

<div class="search-bar">

    <input  type="type" name="search" value="" placeholder="Search Items...."/>
    <i class="fas fa-search"></i>
</div>



