* {
    margin: 0;
    padding: 0;
   
}
.hero-container {
    
    
    background-image: url('../images/Hero-Background.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    padding:20px;
    
}

.hero-container .hero-content{
    float:right;

}
.hero-container h1{
    display:flex;
    /*flex-direction:column;*/
    /*align-items:end;*/
    
}
.hero-container .colored-text {
        color: #C7AE6A;
    }
    .hero-container .hero-buttons {
        color: #C7AE6A;
        background-color: #1a3500;
        border-radius:10px;
        padding:10px;
        margin-top:40px;
        margin-right:40px;
        
    }
.search-bar{
    margin-top:50px;
    margin-bottom:50px;
    display:flex;
    align-items:center;
    justify-content:center;
   
    
}
.search-bar input{
    border-radius:15px;
    display:flex;
    align-content:center;
    justify-content:center;
    height:7vh;
    width:40vw;
}