@inject IArt _artService
@inject NavigationManager _navigate

@page "/registerArtPiece"

<div class="form-container ">
    <div class="card shadow col-6 form-structure">
        <h2 class="form-title">Register A Piece For</h2><h2 class="gold-colored-text form-title">Auction</h2>

        <EditForm Model="artPiece" OnValidSubmit="PopulateProduct">
            <DataAnnotationsValidator />
            <ValidationSummary />
          @*   <div class="form-group p-2">
                <label for="SellerName">SellerName</label>

                <InputText class="form-control p-2" id="SellerName" @bind-Value="artPiece.SellerName" aria-describedby="name" />
            </div> *@
            <div class="form-group p-2">
                <label for="ProductName">ProductName</label>

                <InputText class="form-control p-2" id="ProductName" @bind-Value="artPiece.ProductName" aria-describedby="name" />
            </div>
            <div class="form-group p-2">
                <label for="ProductPicture">ProductPicture</label>

                <InputText class="form-control p-2" id="ProductPicture" @bind-Value="artPiece.ProductPicture" aria-describedby="name" />
            </div>


            <div class="form-group p-2">
                <label for="CategoryId">CategoryId</label>

                <InputSelect class="form-control p-2" id="CategoryId" @bind-Value="artPiece.CategoryId" aria-describedby="name"> 
                    <option value"">choose category</option>
                    <option value"">painting</option>
                    <option value"">photography</option>
                    <option value"">realism</option>
                    
                </InputSelect>
            </div>

            <div class="form-group p-2">
                <label for="StartBidPrice">StartBidPrice</label>

                <InputNumber class="form-control p-2" id="StartBidPrice" @bind-Value="artPiece.StartBidPrice" aria-describedby="name" />
            </div>
            <div class="form-group p-2">
                <label for="Status">Status</label>

                <InputText class="form-control p-2" id="Status" @bind-Value="artPiece.Status" aria-describedby="name" />
            </div>
            <div class="form-group p-2">
                <label for="EndDate">EndDate</label>

                <InputDate class="form-control p-2" id="EndDate" @bind-Value="artPiece.EndDate" aria-describedby="name" />
            </div>
            <div class=" button-container">
                <button class="form-button">Sell</button>
            </div>
        </EditForm>

    </div>
</div>


@code {
    private AddArtPieceDTO artPiece = new AddArtPieceDTO();

    private async Task PopulateProduct()
    {
        var result = await _artService.AddArt(artPiece);
        
        _navigate.NavigateTo("/browse-items");

    }

    

}
