@inject NavigationManager navigationManager
@inject IAuth authService
@page "/register"

<div class="form-container ">
    <div class="card shadow col-6 form-structure">
        <h2 class="form-title">Sign Up For Our Art </h2><h2 class="gold-colored-text form-title">Gallery</h2>

        <EditForm Model="newUser" OnValidSubmit="RegisterUser">
            <DataAnnotationsValidator/>
                <ValidationSummary/>
            <div class="form-group p-2">
                <label for="Name">Name</label>

                <InputText class="form-control p-2" id="Name" @bind-Value="newUser.UserName" aria-describedby="name" />
            </div>
        <div class="form-group p-2">
                <label for="UserName">UserName</label>

                <InputText class="form-control p-2" id="UserName" @bind-Value="newUser.Name" aria-describedby="name" />
        </div>
        <div class="form-group p-2">
                <label for="Email">Email</label>

                <InputText class="form-control p-2" id="Email" @bind-Value="newUser.Email" aria-describedby="name" />
        </div>
        <div class="form-group p-2">
                <label for="PhoneNumber">PhoneNumber</label>

                <InputText class="form-control p-2" id="PhoneNumber" @bind-Value="newUser.PhoneNumber" aria-describedby="name" />
        </div>
        <div class="form-group p-2">
                <label for="Role">Role</label>

                <InputText class="form-control p-2" id="Role" @bind-Value="newUser.Role" aria-describedby="name" />
        </div>
        <div class="form-group p-2">
                <label for="Password">Password</label>

                <InputText class="form-control p-2" id="Password" @bind-Value="newUser.Password" aria-describedby="name" />
        </div>
        <div class=" button-container">
            <button class="form-button">Register</button>
        </div>
   </EditForm>
    
</div>
</div>


@code{
    private RegisterRequestDTO newUser = new RegisterRequestDTO();
    private async Task RegisterUser()
    {
        await authService.Register(newUser);
        Console.WriteLine("Email Shoud be sent");
        navigationManager.NavigateTo("/login");
    }
}