@page "/sellers"
<h3>SellersList</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">PRODUCT NAME</th>
            <th scope="col">IMAGE</th>
            <th scope="col">YOUR BID</th>
            <th scope="col">HIGHEST BID</th>
            <th scope="col">STATUS</th>
            <th scope="col">   </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>1000</td>
            <td>1500</td>
            <td><button class="btn btn-outline-secondary">BID AGAIN</button></td>
            <td>ACTIVE</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>5000</td>
            <td>5000</td>
            <td><button class="btn btn-outline-success">CHECKOUT</button></td>
            <td>CLOSED</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
            <td>Mark</td>
            <td><button class="btn btn-danger">BID LOST</button></td>
            <td>CLOSED</td>
        </tr>
    </tbody>
</table>


@code {

}

