<nav class="navbar mb-3 shadow navbar-expand-lg navbar-light bg-light ">
    <span>
        <img src="images/pickasaw2-min.PNG" alt="my Logo" style="width:12rem" class="rounded" />
    </span>


    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <!-- Dropdown -->
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Art Houses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Drawings</a>
                        <a class="dropdown-item" href="#">Paintings</a>
                        <a class="dropdown-item" href="#">Photography</a>
                        <a class="dropdown-item" href="#">Sculpture</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sell</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">How It Works</a>
            </li>
        </ul>
    </div>

    <!-- Toggle button for small screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


</nav>